<div class="container title">
  <div class="row">
    <div class="col-sm-9">
      <h5>{{problem}}</h5>
    </div>
    <div class="col-sm">
        <div class="container">
            <button type="button" class="btn btn-primary" (click)="getNewEquation()" >
                New
            </button>
            <div class="form-group form-check">
                <input [(ngModel)]="isComplex" type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Complex</label>
            </div>
        </div>
    </div>
  </div>
</div>
