.test-wrapper {
   background-color: rgb(219, 220, 235)  ;
   padding: 5px;
   border-left: 3px solid salmon;
   border-right: 3px solid salmon;
}

.question {
   padding: 2%;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
}

.center-child { 
   text-align: center;
}

.center-element {
   display: inline-block;
}